@font-face {
  font-family: euclid circular a;
  font-style: normal;
  font-weight: 400;
  src: local('Euclid Circular A'), url('./assets/fonts/Euclid Circular A Regular.woff') format('woff')
}

:root {
  font-family: "Euclid Circular A", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  line-height: 1.5;
  font-weight: 400;



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f5f4f6;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}